/* * {
  border: 1px dotted gray;
} */

.menu > li {
  text-align: center;
}

.menu > li > a {
  text-decoration: none;
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  background-color: skyblue;
}

.image {
  width: 50px;
  border-radius: 50px;
}
