th {
  border: 1px solid black;
  text-align: center;
}
.up-side {
  border: solid;
  text-align: center;
  background-color: rgb(57, 94, 138);
  color: whitesmoke;
}

.table {
  text-align: center;
}

.stat-ul {
  list-style-type: none;
}

.stat-ul > li {
  background-color: skyblue;
  border-style: solid;
  border-width: 0px 20px 0px 0px;
  border-color: rgb(57, 94, 138);
  margin: 10px;
  padding: 5px;
  width: 120px;
}

.stat-ul > li > a {
  text-decoration: none;
}
